<footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="https://nhasachtructuyen.com/skin/frontend/ma_greentech/ma_greentech2/images/logo_nstt2.png" height="50">
          <hr class="light">
          <p>SDT:03258</p>
          <p>hangbamboo04@gmail.com</p>
          <p>Tầng 10 tòa FLC Mĩ Đình- Hà nội</p>
        </div>
        <div class="col-md-4">
          <img src="https://nhasachtructuyen.com/skin/frontend/ma_greentech/ma_greentech2/images/logo_nstt2.png" height="50">
          <hr class="light">
          <p>Các bộ sách</p>
          <p>Cơ hội tìm kiếm những cuốn sách mới nhất</p>
        </div>
        <div class="col-md-4">
          <img src="https://nhasachtructuyen.com/skin/frontend/ma_greentech/ma_greentech2/images/logo_nstt2.png" height="50">
          <hr class="light">
          <p>Tin tức</p>
          <p>Thông báo</p>
          <p>Tin tức trong ngày</p>
        </div>
      </div>
    </div>
  </footer>