<div class="row" >
    <!-- <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product> -->
    <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor=" let product of products">
      <div class="card h-100">
        <a><img class="card-img-top" src="{{product.hinhanh}}"  alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
            <a>{{product.tensanpham}}</a>
            </h4>
            <h5>{{product.gia}}đ</h5>
            <p class="card-text">{{product.mota}}</p>
        </div>
        <button class="btn btn-primary" >Mua hàng</button>
        </div>
    </div>
  </div>
  