<body>
	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<h1>Cửa hàng sách online</h1>
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<h6 class="sec-one">Đăng nhập</h6>
							<div class="speci-login first-look">
								<img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user.png" alt="" class="img-responsive" height="30">
							</div>
						</div>
						<div class="bottom-content">
							<form action="#" method="post">
								<input type="email" name="email" class="input-form" placeholder="Nhập email của bạn"
										required="required" />
								<input type="password" name="password" class="input-form"
										placeholder="Nhập password" required="required" />
								<button type="submit" class="loginhny-btn btn" routerLink="/trangchu" >Đăng nhập</button>
							</form>
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>© 2020 hangbamboo04@gmail.com</p> <br>
          <p>Tầng 10 tòa FLC Mĩ Đình- Hà nội</p>
				</div>
			</div>
		</div>
	</section>
</body>