<body>
  <app-nav></app-nav>

  <div id="slider" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ul>

    <app-banner></app-banner>

    <a class="carousel-control-prev" href="#slider" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slider" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p>Sách Online </p>
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary">Liện hệ với chúng tôi</button>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <p>Welcome to công ty sách ABD Mĩ Đình-Hà Nội</p>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="https://d3.violet.vn/uploads/previews/document/0/835/119/BOOK1.gif.jpg" height="90">
        <h3 class="card-title">Sách chuyên nghành</h3>
        <p class="card-text">Sách chuyên ngành về CNTT, kinh doanh,...</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="https://i285.photobucket.com/albums/ll79/dochathuc/Mobi%20Truyen/512x512_2.png" height="90">
        <h3>Truyện tranh</h3>
        <p>Truyện tranh thiếu nhi như Conan, Doraemon,...</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="https://lh3.googleusercontent.com/swSB6DTW_gFEz6slnw7oeWIoxMafNRtPuA8wZ7eQJb6Mw87ni_3o9rEnP-1A1fusUA" height="90">
        <h3>Sách giáo khoa</h3>
        <p>Đầy đủ các bộ sgk từ lớp 1 đến lớp 12</p>
      </div>
    </div>
    <hr class="my-4">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <p>Sách là kho tàng lưu trữ những di sản, thành tựu vô giá được truyền từ thời kỳ này sang thời kỳ khác, từ thế hệ này qua thế hệ khác.<br>

Chúng ta có thể chủ động tiếp cận tiếp nhận thêm nhiều kiến thức hơn nữa thông qua việc đọc sách. Những cuốn sách về mọi lĩnh vực từ kinh tế, văn hóa, chính trị cho đến những cuốn tiểu thuyết phiêu lưu, tâm lý tình cảm, các cuốn sách tạo động lực hay quyển tự sự về cuộc đời có thực của một nhân vật có sự ảnh hưởng đến chúng ta.<br>

Đọc sách có thể là một sở thích như thích nhân vật truyện tranh nào đó, là một hoạt động để giết thời gian khi không biết làm gì, là vài phút ngẫu hứng ngồi tìm đọc trong một thư viện, cửa hàng sách nào đó ngày mưa hoặc là một thói quen của người người ham đọc sách.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="https://tbck.vn/stores/news_dataimages/thuuyen/122019/05/16/in_article/3616_docsach.jpg" class="img-fluid">
      </div>
    </div>
  </div>
  <br><hr>
  <app-login></app-login>
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-product></app-product>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-product></app-product>
      </div>
     <div class="col-xs-12 col-sm-6 col-md-4">
        <app-product></app-product>
      </div>
    </div>
    <hr class="my-4">
  </div>

  <hr class="my-4">
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>Contact us</h2>
      </div>
      <div class="col-12 social padding">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
      </div>
    </div>
  </div>
  <br>
  <app-footer></app-footer>
</body>