<div> <app-trangchu></app-trangchu> </div>
<br>
<br>

<div class="row">

      <div class="col-lg-3">

       <app-category></app-category>

      </div>
      <!-- /.col-lg-3 -->
      
      <div class="col-lg-9">
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">stt</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Giá</th>
      <th scope="col">Mô tả</th>
      <th></th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.tensanpham}}</td>
        <td>{{product.gia}}</td>
        <td>{{product.mota}}</td>
        <td><button class="btn btn-primary"> Chi tiết sản phẩm</button></td>
      </tr>
  </thead>
</table>
  </div>
</div>
 <br>
 <br>
 <br>
 <br>
 <hr>
<footer>
    <div class="container-fluid padding" id="footer">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="https://nhasachtructuyen.com/skin/frontend/ma_greentech/ma_greentech2/images/logo_nstt2.png" height="50">
          <hr class="light">
          <p>SDT:03258</p>
          <p>hangbamboo04@gmail.com</p>
          <p>Tầng 10 tòa FLC Mĩ Đình- Hà nội</p>
        </div>
        <div class="col-md-4">
          <img src="https://nhasachtructuyen.com/skin/frontend/ma_greentech/ma_greentech2/images/logo_nstt2.png" height="50">
          <hr class="light">
          <p>Các bộ sách</p>
          <p>Cơ hội tìm kiếm những cuốn sách mới nhất</p>
        </div>
        <div class="col-md-4">
          <img src="https://nhasachtructuyen.com/skin/frontend/ma_greentech/ma_greentech2/images/logo_nstt2.png" height="50">
          <hr class="light">
          <p>Tin tức</p>
          <p>Thông báo</p>
          <p>Tin tức trong ngày</p>
        </div>
      </div>
    </div>
  </footer>


