 <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Sách 1</a>
                </h4>
                <h5>25000đ</h5>
                <p class="card-text">abcxyz</p>
                <p class="card-text">trạng thái</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <br>
                <button class="btn btn-primary">Mua hàng</button>
                <br>
              </div>
            </div>